


# # Frontend (sử dụng REACT_APP_ prefix)
# REACT_APP_API_URL=http://localhost:5000/api

# Backend - Thay đổi PORT và CORS origin
MONGODB_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=5000  # ← Thay đổi port nếu cần (ví dụ: 3001 cho production)

# CORS - Cho phép domain frontend
CORS_ORIGIN=http://localhost:3000  # ← Thay đổi domain frontend
GEMINI_API_KEY=[ "xxxxxxxxxxxxxxxxxxxxxx"]


CLOUDINARY_CLOUD_NAME=ten_cloud_cua_ban
CLOUDINARY_API_KEY=api_key_cua_ban
CLOUDINARY_API_SECRET=api_secret_cua_ban
